/* nav bar */
/* navbar red */
.navbar-inverse {
    background-color: #fc3027;
    border: none;
}
/* change logo text color and hover color */
.navbar-inverse .navbar-brand {
    color: #fff;
    padding: 5px;
    height: 60px;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color:#ccc
}
/* Change nav links color */
.navbar-inverse .navbar-nav > li > a {
    color:#e7e7e7;
    padding: 20px 10px;
    font-size: 16px;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color:#fff;
    background-color: transparent;
    cursor: pointer;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color: transparent;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    background-color: transparent;
}
.navbar-inverse .navbar-nav>li.active{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-radius: 15px;
}
.navbar-inverse .navbar-nav>li.active:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    border-top-color: #fc3027;
    border-width: 15px;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    margin-left: -15px;
}
/* change visited color */
.navbar-inverse .navbar-nav > li > a:focus {
    color:#fff
}
/* form */
.navbar-inverse .form-control {
    border-radius:4px;
    border:none
}
.navbar-inverse .form-control {
    border:1px solid #ef231a
}
.navbar-inverse .btn {
    border:1px solid #ef231a
}
/* open drop down background color */
.navbar-inverse .navbar-nav .open .dropdown-menu {
    background:#fff
}
/* mobile toggle nav icon */
.navbar-inverse .navbar-toggle {
    border-color:#e7e7e7
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color:#e7e7e7
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color:#fff
}
.navbar-inverse .navbar-toggle:focus .icon-bar, .navbar-inverse .navbar-toggle:hover .icon-bar {
    background-color:#3b5998
}
/*End nav bar*/
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

table th, table td{
    text-align: center;
    font-size: 15px;
}

table td.white{
    color: black;
}

table td.yellow{
    color: darkorange;
}

table td.green{
    color: green;
}

table td.blue{
    color: blue;
}

table td.red{
    color: red;
}

table td.black{
    color: black;
}

table td.indigo{
    color: darkviolet;
}

.questra-radio, .questra-checkbox {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    cursor: pointer;
}

.questra-radio label {
    width: 100%;
    padding-right: 10px;
    border-radius: 20px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
}

.questra-radio input[type="radio"]:empty{
    display: none;
}
.questra-radio input[type="radio"]:empty ~ label:before{
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content:'';
    width: 35px;
    background: #E0E0E0;
    border-radius: 20px;
}
.questra-radio input[type="radio"]:empty ~ label{
    position: relative;
    line-height: 32px;
    text-indent: 45px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.questra-radio input[type="radio"]:hover:not(:checked) ~ label:before{
    content:'\2714';
    text-indent: 12px;
    color: #C2C2C2;
}
.questra-radio input[type="radio"]:hover:not(:checked) ~ label{
    color: #212121;
}
.questra-radio input[type="radio"]:checked ~ label:before{
    content:'\2714';
    text-indent: 12px;
    color: #fff;
    background-color: #5cb85c;
}
.questra-radio input[type="radio"]:checked ~ label{
    color: #212121;
    background-color: #F1F8E9;
}

.questra-radio .popover{
    top: 37px !important;
    left: 0 !important;
    display: block !important;
}

.questra-radio .popover .arrow{
     left: 50% !important;
}


.questra-checkbox label {
    width: 100%;
    padding-right: 10px;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
}

.questra-checkbox input[type="checkbox"]:empty{
    display: none;
}
.questra-checkbox input[type="checkbox"]:empty ~ label:before{
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content:'';
    width: 35px;
    background: #E0E0E0;
    border-radius: 3px;
}
.questra-checkbox input[type="checkbox"]:empty ~ label{
    position: relative;
    line-height: 32px;
    text-indent: 45px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.questra-checkbox input[type="checkbox"]:hover:not(:checked) ~ label:before{
    content:'\2714';
    text-indent: 12px;
    color: #C2C2C2;
}
.questra-checkbox input[type="checkbox"]:hover:not(:checked) ~ label{
    color: #212121;
}
.questra-checkbox input[type="checkbox"]:checked ~ label:before{
    content:'\2714';
    text-indent: 12px;
    color: #fff;
    background-color: #5cb85c;
}
.questra-checkbox input[type="checkbox"]:checked ~ label{
    color: #212121;
    background-color: #F1F8E9;
}

.questra-checkbox .popover{
    top: 37px !important;
    left: 0 !important;
    display: block !important;
}

.questra-checkbox .popover .arrow{
    left: 50% !important;
}

/* Questra investment plan page*/
#instruction{
    display: inline-block;
    cursor: pointer;
}
#instruction label{
    cursor: pointer;
}
#instruction:hover, #instruction label:hover{
    cursor: pointer;
    text-decoration: none;
}

/* Contact page */
#questra-contact-page .questra-investor-contact{
    font-size: 18px;
}

/* Packages page */
#questra-packages-page .panel-heading .panel-title{
    font-size: 18px;
}
#questra-packages-page .panel-body{
    padding: 0;
}
#questra-packages-page .stat-row{
    display: table;
    width: 100%;
}
#questra-packages-page .stat-row .stat-cell{
    display: table-cell;
    overflow: hidden;
    position: relative;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 10px 0;
    float: none;
}

#questra-packages-page .stat-row .stat-cell .text-bg{
    color: #4c9c27;
    font-size: 16px;
}

#questra-packages-page .stat-row .stat-cell .text-xs{
    font-size: 14px;
}

#questra-packages-page #white-package{
    border-color: #999999;
}
#questra-packages-page #white-package .panel-heading{
    background-color: #999999;
    color: #ffffff;
}

#questra-packages-page #yellow-package{
    border-color: #FFCC00;
}
#questra-packages-page #yellow-package .panel-heading{
    background-color: #FFCC00;
    color: #ffffff;
}

#questra-packages-page #green-package{
    border-color: #149738;
}
#questra-packages-page #green-package .panel-heading{
    background-color: #149738;
    color: #ffffff;
}

#questra-packages-page #blue-package{
    border-color: #4584FA;
}
#questra-packages-page #blue-package .panel-heading{
    background-color: #4584FA;
    color: #ffffff;
}

#questra-packages-page #red-package{
    border-color: #BF0712;
}
#questra-packages-page #red-package .panel-heading{
    background-color: #BF0712;
    color: #ffffff;
}

#questra-packages-page #black-package{
    border-color: #323232;
}
#questra-packages-page #black-package .panel-heading{
    background-color: #323232;
    color: #ffffff;
}

#questra-packages-page #indigo-package{
    border-color: #9b59b6;
}
#questra-packages-page #indigo-package .panel-heading{
    background-color: #9b59b6;
    color: #ffffff;
}

#questra-packages-page #vip-package{
    border-color: #34495e;
}
#questra-packages-page #vip-package .panel-heading{
    background-color: #34495e;
    color: #ffffff;
}

#questra-packages-page #vipGold-package{
    border-color: #e67e22;
}
#questra-packages-page #vipGold-package .panel-heading{
    background-color: #e67e22;
    color: #ffffff;
}

#questra-packages-page #vipPlatinum-package{
    border-color: #c0c0c0;
}
#questra-packages-page #vipPlatinum-package .panel-heading{
    background-color: #c0c0c0;
    color: #ffffff;
}

#questra-packages-page #special1M-package, #questra-packages-page #special25M-package, #questra-packages-page #special5M-package{
    border-color: #f6e1aa;
}
#questra-packages-page #special1M-package .panel-heading, #questra-packages-page #special25M-package .panel-heading, #questra-packages-page #special5M-package .panel-heading{
    background-color: #f6e1aa;
    color: #ffffff;
}

/* Instruction page */
#questra-instruction-page .board{
    width: 100%;
    margin: 0 auto;
    background: #fff;
}
#questra-instruction-page .board .nav-tabs {
    position: relative;
    margin: 10px auto;
    margin-bottom: 0;
    box-sizing: border-box;
}

#questra-instruction-page .board > div.board-inner{
    /*background: #fafafa url(http://subtlepatterns.com/patterns/geometry2.png);*/
    background: #fafafa url('../images/bg.jpg');
    background-size: 30%;
}

#questra-instruction-page p.narrow{
    width: 60%;
    margin: 10px auto;
}

#questra-instruction-page .liner{
    height: 2px;
    background: #ddd;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

#questra-instruction-page .nav-tabs > li.active > a, #questra-instruction-page .nav-tabs > li.active > a:hover, #questra-instruction-page .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border-bottom-color: transparent;
}

#questra-instruction-page span.round-tabs{
    width: 100px;
    height: 50px;
    display: inline-block;
    border-radius: 100%;
    background: white;
    z-index: 2;
    text-align: center;
    font-size: 16px;
}

#questra-instruction-page .nav-tabs > li.active > a span.round-tabs{
    background: #fafafa;
}
#questra-instruction-page .nav-tabs > li {
    text-align: center;
}
#questra-instruction-page .nav-tabs > li a{
    display: inline-block;
    margin: 5px auto;
    border-radius: 100%;
    border: 0;
    background-color: transparent;
    text-align: center;
    padding: 0 3px;
}

#questra-instruction-page .nav-tabs > li a:hover{
    background: transparent;
}

#questra-instruction-page .round-content{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    height: 60px;
    padding: 10px;
    border: 2px solid silver;
    border-radius: 30%/30%;
    background-color: #fff;
}
#questra-instruction-page .nav-tabs > li.active > a > .round-content{
    border-color: #5cb85c;
    color: #fc3027;
    background-color: #F1F8E9;
}

#questra-instruction-page .tab-pane{
    position: relative;
    padding-top: 20px;
}
#questra-instruction-page .tab-content .head{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
#questra-instruction-page .btn-outline-rounded{
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}

#questra-instruction-page ol{
    font-size: 16px;
}

#questra-instruction-page p{
    font-size: 16px;
}

#questra-instruction-page ol>li{
    margin-bottom: 5px;
}

#questra-instruction-page img{
    margin-bottom: 10px;
}

#questra-instruction-page .btn.green{
    background-color:#5cb85c;
    /*border: 2px solid #5cb85c;*/
    color: #ffffff;
}

/*@media( max-width : 585px ){*/
    /*#questra-instruction-page .board {*/
        /*width: 90%;*/
        /*height:auto !important;*/
    /*}*/
    /*#questra-instruction-page span.round-tabs {*/
        /*font-size:16px;*/
        /*width: 50px;*/
        /*height: 50px;*/
        /*line-height: 50px;*/
    /*}*/
    /*#questra-instruction-page .tab-content .head{*/
        /*font-size:20px;*/
    /*}*/
    /*#questra-instruction-page .nav-tabs > li a {*/
        /*width: 50px;*/
        /*height: 50px;*/
        /*line-height:50px;*/
    /*}*/

    /*#questra-instruction-page .nav-tabs > li.active:after {*/
        /*content: " ";*/
        /*position: absolute;*/
        /*left: 35%;*/
    /*}*/

    /*#questra-instruction-page .btn-outline-rounded {*/
        /*padding:12px 20px;*/
    /*}*/
/*}*/
