body{
    font-size: 12px;
    width:100%;
    height:100%;
    margin: 0;
    padding:0;
}

/* @media (min-width:1024px){
    marquee{
       width: 890px;
    }
}

@media (min-width:768px) and (max-width:1023px){
    marquee{
       width: 660px;
    }
}

@media (min-width:0px) and (max-width:767px){
    marquee{
       max-width: 300px;
    }
} */

h5{
    margin: 10px 0;
    font-weight: 500;
    font-size: 12px;
}

.main-logo{
    height: 40px;
    margin:auto;
}

.main_heading{
    font-size: 20px;
    margin-left: 10px;
    color: #767777 !important;
    text-transform: uppercase;
}

.main-content{
    margin: auto;
    max-width: 1000px;
}
.card-margin{
    margin: 5px;
}

.card-padding{
    padding: 10px;
}

.heading_text{
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

.text_center{
    text-align: center;
}

.q-input{
    height: 50px;
     max-width: 180px; 
    /* box-sizing: border-box; */
    padding-left: 10px;
    /* padding-right: 15px; */
     border: 0px solid #dbe2e8; 
    font-size: 24px;
    /* box-shadow: 0 2px 2px 0 rgba(46,60,73,.05); */
    border-radius: 2px;
    color: #000;
}

.qo-input{
    height: 54px;
    max-width: 250px;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #dbe2e8;
    font-size: 24px;
    box-shadow: 0 2px 2px 0 rgba(46,60,73,.05);
    border-radius: 2px;
    color: #000;
}

.qi-input{
    height: 36px;
    max-width: 250px;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #dbe2e8;
    font-size: 24px;
    box-shadow: 0 2px 2px 0 rgba(46,60,73,.05);
    border-radius: 2px;
    color: #000;
}

.hide{
    display:none!important;
}

.disabled
{
  pointer-events: none;

  /* for "disabled" effect */
  opacity: 0.5;
  background: #CCC;
}

.show{
    display:block!important
}

.input_container{
    margin: 10px auto;
}

.mdl-radio{
    margin: 10px;
    font-size: 14px;
    line-height: 40px;
}

.mdl-checkbox{
    width: auto;
}

.mdl-radio__outer-circle{
    width: 30px;
    height: 30px;
}

.mdl-radio__inner-circle{
    width: 22px;
    height: 22px;
}

.mdl-radio__label{
    margin-left:10px;
}

.mdl-checkbox__box-outline{
    height: 30px;
    width: 30px;
}

.QN_input{
    height: 34px;
    max-width: 60px;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #dbe2e8;
    font-size: 14px;
    box-shadow: 0 2px 2px 0 rgba(46,60,73,.05);
    border-radius: 2px;
    color: #000;
}

.QIN_input{
    height: 34px;
    max-width: 180px;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    border: 0px solid #dbe2e8;
    font-size: 14px;
    /* box-shadow: 0 2px 2px 0 rgba(46,60,73,.05); */
    border-radius: 2px;
    color: #000;
}

.QN_select{
    height: 34px;
    max-width: 200px;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #dbe2e8;
    font-size: 14px;
    box-shadow: 0 2px 2px 0 rgba(46,60,73,.05);
    border-radius: 2px;
    color: #000;
}

p {
    padding: 0 12px;
}

.mdl-data-table{
    white-space: normal;
    border: 0 ;
    width: 100%;
}

.mdl-grid{
    padding: 3px;
}

.mdl-data-table th{
    padding:  6px;
     text-align: left;
     height:34px;
     font-weight: 700;
     font-size: 12px;
     text-transform: uppercase;
}
.mdl-data-table td {
    padding: 6px;
    text-align: left;
}

.plans:focus{
    border-color:white";
}

.mdl-data-table .table_Head th {
    color: white;
}

.mdl-data-table .table_pack td {
    padding: 11px 6px ;
    text-align: left;
}

.mdl-data-table .table_pack td:first-of-type, .mdl-data-table th:first-of-type {
    padding-left: 14px;
}

.img-pkg{
    width: 40px;
}

.span_disp{
    display: block;
}

.left-pad{
        padding-left: 3px;
}


.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}


.table {
    background-color: transparent;
}
.table {
    border-spacing: 0;
    border-collapse: collapse;
}

#register {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    z-index: 900;
    background-color: rgb(205, 220, 57);
}

.input_currency{
    margin:10px 0 0 0;
}

#currency_label{
    font-size:24px;
}

.mdl-mini-footer{
    background-color: rgb(244, 67, 54);
}

.mdl-textfield__label:after {
    background-color: rgb(3, 169, 244);
}

mdl-textfield--floating-label.is-focused .mdl-textfield__label .is-upgraded{
     background-color: rgb(3, 169, 244);
}

.mdl-textfield.is-invalid .mdl-textfield__input{
    border-color: 1px solid rgba(0,0,0,.12);
}

.questra_header{
    background-color: white;
    color: black;
}

.questra_header .material-icons {
    color: #767777 !important;
}

.questra_header a {
    color: #767777 !important;
}

.footer{
    height: 30px;
    width: 100%;
    background-color: rgb(211, 47, 47); 
    font-size: 12px;
    text-align: center;
    color: white
}

#calculate_button{
    background-color: rgb(139, 195, 74);
}

#redo_button{
    background-color: rgb(244,67,54);
    color: white;
}

.mdl-tooltip p{
    font-size:10px;
    margin: 0px;
    line-height: 16px;
    padding: 0px;
}

.mdl-tooltip b{
    text-transform: uppercase;
    margin: 0px;
    line-height: 16px;
    padding: 0px;
}

.mdl-card--border{
    border-top: 1px solid rgba(0,0,0,.1);
}

.card_head{
    background-color: rgb(33, 150, 243);
    padding: 1px 0;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.card_margin_top{
    margin-top: 10px;
}

.card_padding_inner{
    padding: 5px 0;
}

.contact_input{
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: .875em;
    width: 100%;
    height: 3rem;
    margin-bottom: .75rem;
    padding: 0 1.25rem;
    border-radius: .142857143em;
    border: 1px solid #dbe2e8;
    outline: 0;
    color: #2e3d49;
    box-shadow: 0 0.25em 0.5em 0 rgba(46,61,73,.12);
    transition: box-shadow .3s ease,border .3s ease;
}

.mdl-textfield {
    padding:5px 0;
}

.questra-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
}

.questra-navigation .mdl-navigation__link:hover {
    border-bottom: 4px solid rgb(211, 47, 47); 
}

.questra-navigation .is-active {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
    border-bottom: 4px solid rgb(244,67,54);
}

.mdl-color_blue{
    color:white;
    background-color: rgb(33, 150, 243);
}

.sum_text
{
    font-size: 24px;
    color: rgb(139, 195, 74);
    font-weight: 700;
    text-align: center;
    padding: 5px;
    line-height: 35px;
}

.card_top{
    padding: 1px 0;
    /* text-transform: uppercase; */
    font-weight: 300;
    /* color:rgb(33, 150, 243); */
    text-align: center;
    font-size: 14px;
}

#plan_a{
    margin-right: 50px;
}

#plan_c{
    margin-right: 50px;
}

.mdl-button--fab {
    height: 40px;
    min-width: 40px;
    width: 40px;
}